h1 {
    font-family: sans-serif;
    color: aqua;
}

#cameraman {
    font-family: sans-serif;
    color: blue;
}

#planet {
    font-family: sans-serif;
    color: indigo
}

#alien {
    font-family: sans-serif;
    color: black;
}